@submit-colour: #009ed8;
@back-color: #fe5f55;
@button-text: #ffffff;
@regular-text: #333;
@button-tint: fadeout(#000, 90%);
@background: #303036;
body {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  display: inline-block;
  font-weight: 500;
  font-size: 23px;
  width: 250px;
  position: relative;
  padding: 0.4em 1em;
  border: none;
  color: white;
  transition: 0.2s;
  user-select: none;
  &:before {
    background: @button-tint;
  }

  &:after{
    padding-top: inherit;
    padding-bottom: inherit;
    transition: 0.2s;
    transform-origin: 50% 60%;
  }
}

.submit {
  background: @submit-colour;
  padding-right: 4em;
  &:active,
  &:focus {
    background: darken(@submit-colour, 30%);
    outline: none;
  }
  &:hover {
    background: darken(@submit-colour, 10%);
  }
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2.3em;
    content: '\27A4';  
  }
  &:before {
    content: '\00a0';
  }
  &:hover:after {
    animation: bounceright 0.3s alternate ease infinite;
    -webkit-animation: bounceright 0.3s alternate ease infinite;
  }
}

.back {
  padding-right: 1em;
  padding-left: 3.2em;
  background: @back-color;
  &:hover {
    background: darken(@back-color, 10%);
  }
  &:active,
  &:focus {
    background: darken(@back-color, 30%);
  }
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2.3em;
    content: '\2718';
  }
  &:before {
    content: '\00a0';
  }
  &:hover:after {
    animation: none;
    transform: scale(1.4);
  }
}

.disable {
  pointer-events: none;
  background: darken(@submit-colour, 30%);
}

.link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &::focus {
    text-decoration: none;
  }
}

.pen {
  color: darken(#ffa013, 11%);
  cursor: pointer;
  margin: 5px;
  transition: 0.2s ease;
  &:hover {
    color: #ffa013;
    transform: scale(1.1);
  }
}

.square-icon {
  cursor: pointer;
  margin: 5px;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.minus {
  color: darken(#f44336, 20%);
  &:hover {
    color: darken(#f44336, 11%);
  }
}

.plus {
  color: darken(#4caf50, 11%);
  &:hover {
    color: #4caf50;
  }
}

@keyframes bounceright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5px);
  }
}
