@text-color: #4b515b;
.status-history__container {
    color: #4b515b;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.status-history__caption {
    padding: 0 30px;
    color: @text-color;
    font-weight: 500;
    font-size: 45px;
}

.status-history__table-container {
    border: 2px solid #dddddd;
    min-height: 600px;
    overflow-y: scroll;
    width: 100%;
}

.status-history__pager-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-history__pager {
    width: 100%;
}
